body{
    width : 90%;
    margin : 0 auto;
    text-align : center;
    font-family: Georgia, serif;
}

nav ul{  
    padding:0;  
    background:black;  
    font-family:Arial, sans serif;  
    font-size:18px;  
    text-transform:uppercase;
}

nav li{  
    display:inline-block;
}

nav a{  
    display:block;  
    padding:10px;  
    color:white;  
    text-decoration:none;
    font-family: Georgia, serif;
}

footer {
    width : 100%;
    display:block;  
    padding:10px;  
    color:white;  
    text-decoration:none;
    padding:0;  
    background:black;  
    font-family:Arial, sans serif;  
    font-size:18px;  
    text-transform:uppercase;
    display:inline-block;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
  }

.bodycontent {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
  }

/* form styling */
form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    max-width: 600px;
    padding: 1em;
    margin: 2rem auto 0 auto;
}

label {
    grid-column: 1 / 2;
    padding: 0.5em 0.5em 0.5em 0;

}

input,
button {
    grid-column: 2 / 3;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid #282828;
  }

/*article page styling*/
.article-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  padding: 5px;
}

.article-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  border: 1px solid;
}
.article_image{
  grid-row: 1 / 6;
  margin: 5%;
}

.article_title{
  grid-column: 2 / 4;
}

div.article_tag{
  grid-column: 2 / 3;
  padding: 0px 0px 0px 0px;
  margin-bottom: 40px;
  font-size: 12px;
}
div.article_date{
  grid-column: 3 / 4;
  padding: 0px 0px 0px 0px;
  margin-bottom: 40px;
  font-size: 12px;
}
div.article_author{
  grid-column: 2 / 3;
  font-size: 20px;
}
div.article_rate{
  grid-column: 3 / 4;
  font-size: 20px;
}

div.article_text{
  grid-column: 2 / 4;
  grid-row: 4 / 6;
  font-size: 15px;
}
div.article_code{
  grid-column: 1 / 4;
  grid-row: 6 / 9;
  font-size: 15px;
}

/* Authorlist styling */

.authorlist-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.authorlist-item{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}




